Client/PiFormance.Client/Connected Services/Cpu/PiFormance.Services.CpuRelated.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PiFormance.Services.CpuRelated" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PiFormance.Services.CpuRelated" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Cpu">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cores" nillable="true" type="tns:ArrayOfCore" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cpu" nillable="true" type="tns:Cpu" />
  <xs:complexType name="ArrayOfCore">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Core" nillable="true" type="tns:Core" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCore" nillable="true" type="tns:ArrayOfCore" />
  <xs:complexType name="Core">
    <xs:sequence>
      <xs:element minOccurs="0" name="Clock" nillable="true" type="tns:Clock" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Load" nillable="true" type="tns:Load" />
      <xs:element minOccurs="0" name="Temperature" nillable="true" type="tns:Temperature" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Core" nillable="true" type="tns:Core" />
  <xs:complexType name="Clock">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="Clock" nillable="true" type="tns:Clock" />
  <xs:complexType name="Load">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="Load" nillable="true" type="tns:Load" />
  <xs:complexType name="Temperature">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="Temperature" nillable="true" type="tns:Temperature" />
</xs:schema>