Client/PiFormance.Client/Connected Services/Cpu/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CpuService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ICpuService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/PiFormance.Services.CpuRelated" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Core.Common.Quantities.FrequencyQuantity" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Core.Common.Quantities.Definitions" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Core.Common.Notification" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Core.Common.Quantities.RatioQuantity" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Core.Common.Quantities.MemoryQuantity" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICpuService_Acknowledge_InputMessage">
    <wsdl:part name="parameters" element="tns:Acknowledge" />
  </wsdl:message>
  <wsdl:message name="ICpuService_CpuChanged_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:CpuChanged" />
  </wsdl:message>
  <wsdl:message name="ICpuService_RamUsageChanged_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RamUsageChanged" />
  </wsdl:message>
  <wsdl:portType name="ICpuService">
    <wsdl:operation name="Acknowledge">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBaseOf_ICpuCallback/Acknowledge" message="tns:ICpuService_Acknowledge_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CpuChanged">
      <wsdl:output wsaw:Action="http://tempuri.org/ICpuService/CpuChanged" message="tns:ICpuService_CpuChanged_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="RamUsageChanged">
      <wsdl:output wsaw:Action="http://tempuri.org/ICpuService/RamUsageChanged" message="tns:ICpuService_RamUsageChanged_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ICpuService" type="tns:ICpuService">
    <wsp:PolicyReference URI="#NetTcpBinding_ICpuService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Acknowledge">
      <soap12:operation soapAction="http://tempuri.org/IServiceBaseOf_ICpuCallback/Acknowledge" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="CpuChanged">
      <soap12:operation soapAction="http://tempuri.org/ICpuService/CpuChanged" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RamUsageChanged">
      <soap12:operation soapAction="http://tempuri.org/ICpuService/RamUsageChanged" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CpuService">
    <wsdl:port name="NetTcpBinding_ICpuService" binding="tns:NetTcpBinding_ICpuService">
      <soap12:address location="net.tcp://localhost:8733/PiFormance/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8733/PiFormance/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>