Client/PiFormance.Client/Connected Services/Cpu/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/PiFormance.Services.CpuRelated" />
  <xs:element name="Acknowledge">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CpuChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PiFormance.Services.CpuRelated" minOccurs="0" name="cpuSample" nillable="true" type="q1:CpuSample" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RamUsageChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PiFormance.Services.CpuRelated" minOccurs="0" name="ramUsage" nillable="true" type="q2:RamUsage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>