Client/PiFormance.Client/Connected Services/Services/Core.Standard.Quantities.TemperatureQuantity.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Core.Standard.Quantities.TemperatureQuantity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Core.Standard.Quantities.TemperatureQuantity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Core.Standard.Quantities.Definitions" />
  <xs:complexType name="Celsius">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Core.Standard.Quantities.Definitions" base="q1:BaseUnitOfTemperature_PMjZ0s_SN">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Celsius" nillable="true" type="tns:Celsius" />
  <xs:complexType name="Temperature">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Core.Standard.Quantities.Definitions" base="q2:PhysicalQuantityOfTemperature_PMjZ0s_SN">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Temperature" nillable="true" type="tns:Temperature" />
  <xs:complexType name="ArrayOfTemperature">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Temperature" nillable="true" type="tns:Temperature" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTemperature" nillable="true" type="tns:ArrayOfTemperature" />
</xs:schema>