Client/PiFormance.Client/Connected Services/Services/Core.Standard.Quantities.FrequencyQuantity.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Core.Standard.Quantities.FrequencyQuantity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Core.Standard.Quantities.FrequencyQuantity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Core.Standard.Quantities.Definitions" />
  <xs:complexType name="Frequency">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Core.Standard.Quantities.Definitions" base="q1:PhysicalQuantityOfFrequencydR4EH2ad">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Frequency" nillable="true" type="tns:Frequency" />
  <xs:complexType name="KiloHertz">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Core.Standard.Quantities.Definitions" base="q2:UnitOfFrequencydR4EH2ad">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="KiloHertz" nillable="true" type="tns:KiloHertz" />
  <xs:complexType name="MegaHertz">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/Core.Standard.Quantities.Definitions" base="q3:UnitOfFrequencydR4EH2ad">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MegaHertz" nillable="true" type="tns:MegaHertz" />
  <xs:complexType name="GigaHertz">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/Core.Standard.Quantities.Definitions" base="q4:UnitOfFrequencydR4EH2ad">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GigaHertz" nillable="true" type="tns:GigaHertz" />
</xs:schema>