Client/PiFormance.Client/Connected Services/Services/Core.Standard.Quantities.MemoryQuantity.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Core.Standard.Quantities.MemoryQuantity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Core.Standard.Quantities.MemoryQuantity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Core.Standard.Quantities.Definitions" />
  <xs:complexType name="Memory">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Core.Standard.Quantities.Definitions" base="q1:PhysicalQuantityOfMemoryVAxCuxUw">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Memory" nillable="true" type="tns:Memory" />
  <xs:complexType name="KibiByte">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Core.Standard.Quantities.Definitions" base="q2:UnitOfMemoryVAxCuxUw">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="KibiByte" nillable="true" type="tns:KibiByte" />
  <xs:complexType name="MebiByte">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/Core.Standard.Quantities.Definitions" base="q3:UnitOfMemoryVAxCuxUw">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MebiByte" nillable="true" type="tns:MebiByte" />
  <xs:complexType name="GibiByte">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/Core.Standard.Quantities.Definitions" base="q4:UnitOfMemoryVAxCuxUw">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GibiByte" nillable="true" type="tns:GibiByte" />
</xs:schema>