Client/PiFormance.Client/Connected Services/Services/PiFormance.ServiceContracts.Cpu.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PiFormance.ServiceContracts.Cpu" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PiFormance.ServiceContracts.Cpu" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Core.Standard.Quantities.FrequencyQuantity" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Core.Standard.Quantities.RatioQuantity" />
  <xs:complexType name="CpuSample">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Core.Standard.Quantities.FrequencyQuantity" minOccurs="0" name="ClockSpeed" nillable="true" type="q1:Frequency" />
      <xs:element minOccurs="0" name="Cores" nillable="true" type="tns:ArrayOfLogicalCore" />
      <xs:element minOccurs="0" name="TotalUsage" nillable="true" type="tns:TotalUsage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CpuSample" nillable="true" type="tns:CpuSample" />
  <xs:complexType name="ArrayOfLogicalCore">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LogicalCore" nillable="true" type="tns:LogicalCore" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLogicalCore" nillable="true" type="tns:ArrayOfLogicalCore" />
  <xs:complexType name="LogicalCore">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CpuPart">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LogicalCore" nillable="true" type="tns:LogicalCore" />
  <xs:complexType name="CpuPart">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Core.Standard.Quantities.RatioQuantity" minOccurs="0" name="Load" nillable="true" type="q2:Ratio" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CpuPart" nillable="true" type="tns:CpuPart" />
  <xs:complexType name="TotalUsage">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CpuPart">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TotalUsage" nillable="true" type="tns:TotalUsage" />
</xs:schema>