Client/PiFormance.Client/Connected Services/Services/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SystemService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ISystemService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/PiFormance.ServiceContracts.Cpu" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Core.Standard.Quantities.FrequencyQuantity" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Core.Standard.Quantities.Definitions" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Core.Standard.Notification" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Core.Standard.Quantities.RatioQuantity" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Core.Standard.Quantities.TemperatureQuantity" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/PiFormance.ServiceContracts.Memory" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Core.Standard.Quantities.MemoryQuantity" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISystemService_GetCpuSample_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCpuSample" />
  </wsdl:message>
  <wsdl:message name="ISystemService_GetCpuSample_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCpuSampleResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemService_GetRamSample_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRamSample" />
  </wsdl:message>
  <wsdl:message name="ISystemService_GetRamSample_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRamSampleResponse" />
  </wsdl:message>
  <wsdl:portType name="ISystemService">
    <wsdl:operation name="GetCpuSample">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemService/GetCpuSample" message="tns:ISystemService_GetCpuSample_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemService/GetCpuSampleResponse" message="tns:ISystemService_GetCpuSample_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRamSample">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemService/GetRamSample" message="tns:ISystemService_GetRamSample_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemService/GetRamSampleResponse" message="tns:ISystemService_GetRamSample_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ISystemService" type="tns:ISystemService">
    <wsp:PolicyReference URI="#NetTcpBinding_ISystemService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetCpuSample">
      <soap12:operation soapAction="http://tempuri.org/ISystemService/GetCpuSample" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRamSample">
      <soap12:operation soapAction="http://tempuri.org/ISystemService/GetRamSample" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SystemService">
    <wsdl:port name="NetTcpBinding_ISystemService" binding="tns:NetTcpBinding_ISystemService">
      <soap12:address location="net.tcp://localhost:8733/PiFormance/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8733/PiFormance/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>