Client/PiFormance.Client/Connected Services/Services/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/PiFormance.ServiceContracts.Cpu" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/PiFormance.ServiceContracts.Memory" />
  <xs:element name="GetCpuSample">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCpuSampleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PiFormance.ServiceContracts.Cpu" minOccurs="0" name="GetCpuSampleResult" nillable="true" type="q1:CpuSample" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRamSample">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRamSampleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PiFormance.ServiceContracts.Memory" minOccurs="0" name="GetRamSampleResult" nillable="true" type="q2:RamSample" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>