Client/PiFormance.Client/Connected Services/SystemService/PiFormance.ServiceContracts.Cpu.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PiFormance.ServiceContracts.Cpu" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PiFormance.ServiceContracts.Cpu" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Core.Standard.Quantities.FrequencyQuantity" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Core.Standard.Quantities.RatioQuantity" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Core.Standard.Quantities.TemperatureQuantity" />
  <xs:complexType name="CpuSample">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Core.Standard.Quantities.FrequencyQuantity" minOccurs="0" name="ClockSpeed" nillable="true" type="q1:Frequency" />
      <xs:element minOccurs="0" name="Cores" nillable="true" type="tns:ArrayOfLogicalCore" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CpuSample" nillable="true" type="tns:CpuSample" />
  <xs:complexType name="ArrayOfLogicalCore">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LogicalCore" nillable="true" type="tns:LogicalCore" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLogicalCore" nillable="true" type="tns:ArrayOfLogicalCore" />
  <xs:complexType name="LogicalCore">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Core.Standard.Quantities.RatioQuantity" minOccurs="0" name="Load" nillable="true" type="q2:Ratio" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Core.Standard.Quantities.TemperatureQuantity" minOccurs="0" name="Temperature" nillable="true" type="q3:Temperature" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogicalCore" nillable="true" type="tns:LogicalCore" />
</xs:schema>