Client/PiFormance.Client/Connected Services/SystemService/PiFormance.ServiceContracts.Memory.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PiFormance.ServiceContracts.Memory" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PiFormance.ServiceContracts.Memory" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Core.Standard.Quantities.MemoryQuantity" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Core.Standard.Quantities.RatioQuantity" />
  <xs:complexType name="RamSample">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Core.Standard.Quantities.MemoryQuantity" minOccurs="0" name="AvailableMemory" nillable="true" type="q1:Memory" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Core.Standard.Quantities.MemoryQuantity" minOccurs="0" name="TotalMemory" nillable="true" type="q2:Memory" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Core.Standard.Quantities.RatioQuantity" minOccurs="0" name="Usage" nillable="true" type="q3:Ratio" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RamSample" nillable="true" type="tns:RamSample" />
</xs:schema>